@page "/"
@inject HttpClient HttpClient

<h1>Blazing Pizzas</h1>

@code {
	List<PizzaSpecial> specials;

	protected override async Task OnInitializedAsync()
	{
		specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");
	}
}